* {
  margin: 0;
}
.my-button {
  padding: 10px 20px;
  background-color: #b3d917;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Minecraft";
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-button:hover {
  background-color: black;
  color: #b3d917;
}
