* {
  margin: 0;
}
.my-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Minecraft";
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-button:hover {
  background-color: rgb(219, 207, 207);
  color: black;
}
